.git
.venv
**/__pycache__
**/.terraform
**/*.tfstate*
**/*.tfvars
.env
.env.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
!infra/certificates/rds-eu-west-1.pem
.idea
.vscode
**/.DS_Store
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
build
*.egg-info
var
dist

vendor/
.phpstan/
**/node_modules
test-results
playwright-report
test-results.xml
coverage.xml
deployment.json
